@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');
@import url('https://fonts.cdnfonts.com/css/silkscreen-2');

*{
    margin: 0;             
    padding: 0;            
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
}
body p{
    margin: 0px;
}

/* -------------- HEADER ---------------- */

header {
    background: rgb(65,105,225);
    background: linear-gradient(0deg, rgba(65,105,225,1) 85%, rgba(19,69,217,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
}

.boostrapHead{
    padding-top: 3px;
}

.logo{
    display: flex;
    align-items: center ;
}

.logo a img{
    width: 120px;
    height: 120px;
    margin: 20px;
}

.logo a{
    color: white;
    font-size: 48px;
    font-style: italic;
    text-decoration: none;
    font-family: 'TheGoodMonolith', sans-serif;
    text-shadow: 2px 2px black;
}

.navbarHead{
    margin-right: 25px;
    background-color: rgba(0, 0, 0, 0.85);
    flex-wrap: wrap;
    padding: 0px;
} 
.ulHead li a{
    color: whitesmoke;
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px black;
}
.dropdownHead{
    background-color: rgba(65, 105, 225, 0.9);
}
.loginList{
    color: rgba(0, 0, 0, 0.85);
}
.loginBoton{
    color: whitesmoke;
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px black;
    border-radius: 0;
    border: none;
    line-height: normal;
    padding: 8px;
    margin-right: 3px;
    border-right: 1px solid white;
}
.acceder{
    width: content;
    margin:20px 0px
}
.ventanaLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: black;
}
.ventanaLogin div p a{
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-shadow: none;
    font-weight: bold;
}
.ventanaLogin input{
    width: 200px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.ventanaLogin label{
    margin-bottom: 4px;
}
.modal-header{
    color: whitesmoke;
    background-color:rgba(0, 0, 0, 0.85);
}
.modal-footer{
    background-color: royalblue;
}
.modalFooterBtn{
    border: solid 1px white;
}
.regisTextModal{
    margin-bottom: 16px;
}
.containNavlist {
    padding: 0px;
}
.divisorList hr{
    display: none;
}
/* ------------- MAIN index ------------*/

.containHero{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

.hero{
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0)), url(../img/hero.png);
    width: 80%;
    height: 79vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 10px solid black;
    border-top: 5px solid black;

}

.hero h1{
    font-size: 40px;
    margin-top: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 35px 20px;
    border-radius: 20px;
    font-family: 'Silkscreen', sans-serif;
}

.hero h2{
    position: absolute;
    font-size: 23px;
    bottom: 0;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 7px 12px;
    border-radius: 10px;
    font-family: 'Silkscreen', sans-serif;
}

/*--------CATEGORIAS INDEX---------*/

.categorias{
    background: rgb(65,105,225);
    background: radial-gradient(circle, rgba(65,105,225,1) 76%, rgba(15,38,113,1) 100%);
    font-family: 'TheGoodMonolith', sans-serif;
}

.categorias h2{
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.tituloPixel{
    font-size: 45px;
    font-style: italic;
    color: whitesmoke;
    font-family: 'TheGoodMonolith', sans-serif;
    font-weight: bold;
}

.categoriasFichas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px ;
}

.categoriasFichas div{
    width: 350px ;
    height: 500px;
    margin: 20px 15px;
    position: relative;
    transition: 0.15s;
    opacity: .9;
}

.categoriasFichas div:hover{
    transform: scale(1.02);
    opacity: 1;
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.75);
}

.categoriasFichas div h3{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0px 10px;
    position: absolute;
    bottom: 0;
    font-size: 50px;
    margin-bottom: 3px;
    font-style: italic;
    margin-left: 13px;
}

.categoriasFichas div a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

/*---------- NOVEDADES/FICHAS -----------*/

.novedades{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.novedadesTitulo{
    background-color: black;
    color: whitesmoke;
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-bottom: 5px;
}
.novedadesTitulo h2{
    font-size: 37.5px;
}
.fichas{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
}

.fichas div{
    height: 350px;
    width: 250px;
    margin: 30px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
}

.fichas div h2{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.fichas div a{
    text-decoration: none;
    background-color: royalblue;
    color: whitesmoke;
    padding: 10px;
    font-size: 15px ;
    transition: 0.3s;
}

.fichas div a:hover{
    border-radius: 10px;
    background-color:rgb(65, 60, 225);
}

.fichas img{
    height: 250px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: contain;
}
/*---------------PRODUCTOS----------------*/
.productitulo{
    background-color: black;
    text-align: center;
    padding: 20px;
    margin: 0px;
}
.productitulo h1{
    font-size: 50px;
}
.subTitulo{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 5px;
    background-color: black;
}
.subTitulo h2{
    color: whitesmoke;
    font-style: italic;
}
.navProducts{
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}
.logoNav {
    font-family: 'TheGoodMonolith', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.logoNav img{
    object-fit: cover;
}
.accordionAtributos{
    width: 280px;
    height: 150px;
    margin-left: 8px;
    position: sticky;
    top:70px;
}
.accordion-button{
    background-color: rgba(65, 105, 225, 0.95);
    color: white;
    border: rgba(0, 0, 0, 0.85) solid 1px;
}
.accordion-body li{
    margin-bottom: 5px;
}
.accordion-body li a{
    color: black;
    font-size: 19px;
    font-family:'TheGoodMonolith', sans-serif;
    text-decoration: none;
    font-style: italic;
}
.accordion-body li a:hover{
    color: royalblue;
}
.productContainer{
    display:flex ;
    justify-content: space-between;
}
.goHead{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 12px;
    right: 3px;
    opacity: 0.5;
}
.goHead:hover{
    opacity: 0.8;
}
.goHead img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productos{
    width: 1250px;
}
.miniTitulo{
    color: black;
    font-family: 'TheGoodMonolith', sans-serif;
    width: 95%;
    padding-left: 5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.85);
}
.miniTitulo h3{
    font-size: 25px;
}
/*--------------- CONTACTO -------------*/

.titulo{
    font-style: italic;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulo h1{
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
}

.contacto{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.contacto h3{
    margin-bottom: 50px;
    font-size: 18.72px;
}

.contactoVias{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contactoVias img{
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

.contactoVias div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 25px;
}

.contactoVias p{
    font-size: 18px;
}

.contactLabel{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: 19px;
}

.contactLabel input{
    margin-bottom: 10px;
}

.formulario p{
    margin-bottom: 5px;
    font-size: 17.5px;
}

.formulario div textarea{
    width: 500px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.formularioBoton {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    flex-wrap: wrap;
}

.formularioBoton input{
    font-size: 17px;
    padding: 3px;
}

.ubicacion h2{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
}


.mapa {
    border: 1px solid black;
    width: 500px;
    height: 450px;
}

.mapa iframe{
    width: 100%;
    height: 100%;
}

/* ------------ REGISTRO ----------- */
.registMain{
    padding-bottom: 50px;
    color: black;
}
.registro{
    padding: 50px;
    margin: 50px;
    display: grid;
    justify-content: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    grid-auto-rows: auto auto 50px;
    grid-template-columns: 0.5fr 0.6fr 0.2fr;
    gap: 15px 5px;
    grid-template-areas:
    "datos usuario pref"
    "datos2 envio pref"
    "none none registrate" ;
}
.registro label{
    font-size: 17px;
    font-style: italic;
}
.registro input{
    font-size: 16px;
}
.registro p{
    font-size: 17px;
}
.regisText{
    padding-top: 50px;
    padding-left: 15px;
}
.regisText h2{
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* --datos1-- */
.datosPer{
    grid-area: datos;
}
.datosPer input{
    width: 173px;
    margin-left: 50px;
}
.datosPer label{
    margin-bottom: 4px;
}
.datosPer h3{
    margin-bottom: 20px;
    font-size: 18.72px;
}
.datosPer div{
    display: flex;
    flex-direction: column;
}
.datosPer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.datosPer form div{
    margin: 5px 0px;
}

/* --datos2-- */
.datosPer2{
    grid-area: datos2;
}
.datosPer2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.datosPer2 select{
    margin-left: 15px;
    font-size: 16px;
}
.gen{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.gen div:nth-child(even){
    padding-left: 10px;
}
.gen input{
    margin: 6px 0px;
}
.gen label{
    margin: 4px 0px;
}
.gen div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 10px;
}
.pais p{
    margin-bottom: 4px;
}
.pais select{
    margin-left: 50px;
    width: 173px;
}

/* --usuario-- */
.usuario{
    grid-area: usuario;
    display: flex;
    align-items: center;
}
.usuario form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.usuario form div{
    display: flex;
    flex-direction: column;
}
.user{
    margin-right: 50px;
}
.usuario label{
    margin-bottom: 5px;
}
.usuario input{
    margin-bottom: 5px;
}

/* --envio-- */
.envio{
    grid-area: envio;
}
.envio h4{
    font-size: 16px;
}
.envio label{
    margin-bottom: 4px;
}
.envio form{
    display: flex;
}
.envio form input{
    margin-left: 50px;
    margin-bottom: 5px;
    width: 173px;
}
.envio form div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.enviodat1 {
    margin-right: 25px;
}
.enviodat1 select{
    width: 173px;
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 16px;
}

/* --preferencias-- */
.pref{
    grid-area: pref;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pref h4{
    margin-bottom: 40px;
    font-size: 16px;
}
.checkPref{
    display: flex;
    justify-content: space-between;
}
.checkPref form{
    display: flex;
    flex-direction: column;
}
.checkPref input{
    margin: 6px 0px;
}
.checkPref label{
    margin-bottom: 5px;
}
.yesornot label{
    margin-right: 8px;
}
.yesornot input{
    margin-right: 10px;
}
.yesornot p{
    margin-bottom: 30px;
}
/* --BOTON-- */
.botonRegistro{
    grid-area: registrate;
}
.botonRegistro button{
    padding: 12px;
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: black;
    transition: 0.2s;
}
.botonRegistro button:hover{
    border-color: royalblue;
    color: royalblue;
    box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.32);
}
/* ------------- FOOTER ---------- */

footer{
    background: rgb(19,69,217);
    background: linear-gradient(0deg, rgba(19,69,217,1) 0%, rgba(65,105,225,1) 10%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 10px black solid;
}

.footerLogo{
    display: flex;
}

.textoLogo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    color: whitesmoke;
    width: 350px;
    font-family: 'TheGoodMonolith', sans-serif;
}

.textoLogo a{
    font-style: italic;
    color: whitesmoke;
    font-size: 30px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.textoLogo a:hover{
    font-family: 'Silkscreen', sans-serif;
    font-size: 25px;
    color: white;
}

.footerLogo img{
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}

.redesSection{
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 10px;
}

.redesSection h3{
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 23px;
    color: black;
    margin-bottom: 10px;
}

.redes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.redes div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.redesSection div a{
    color: whitesmoke;
    font-size: 18px;
    font-style: italic;
}

.redesText a:hover{
    font-family: 'TheGoodMonolith', sans-serif;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
}

.redesImg img:hover{
    transform: scale(1.15);
}

.redesSection img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.redesSection p{
    margin-top: 10px;
    color: black;
}

/* -------------------------------RESPONSIVE----------------------------------- */

@media screen and (max-width:1250px){
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width:300px ;
        height: 450px;
        margin: 20px 10px;
    }
    /* ---- REGISTRO ---- */
    .registro{
        padding: 20px 0px;
        gap: 15px;
    }
}

@media screen and (max-width:1150px){
    /* ----Hero---- */
    .hero{
        width: 90%;
    }
    .hero h1{
        font-size: 37px;
    }
    .hero h2{
        font-size: 22px;
        margin-bottom: 30px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .tituloPixel{
        font-size: 43px;
    }
    .categoriasFichas div{
        width:280px ;
        height: 400px;
        margin: 20px 8px;
        opacity: 1;
    }
    .categoriasFichas div h3{
        font-size: 40px;
    }
    /* ---- REGISTRO ---- */
    .registro{
        margin: 30px;
        grid-auto-rows: auto auto auto;
        column-gap: 30px;
    }
    .yesornot input{
        margin-right: 5px;
    }
    .yesornot label{
        margin-right: 5px;
    }
    .botonRegistro button{
        padding: 8px;
    }
    .pref h4{
        margin-bottom: 20px;
    }
    /* ----FOOTER--- */
    .textoLogo{
        font-size: 18px;
    }
    .footerLogo img{
        width: 140px;
        height: 140px;
    }
    .footerLogo{
        width: 50%;
    }
    .redesSection{
        padding-right: 10px ;
    }
}

@media screen and (max-width:991px){
    /* ---- HEADER ---- */
    .navbarHead{
    background-color: rgba(65, 105, 225, 0.1);
    }
    .hamburgerButton img{
        width: 30px;
        height: 30px;
    }
    .hamburgerButton{
        margin: 5px 0px;
        opacity: 0.8;
    }
    .ulHead li a{
        margin: 0px;
        padding: 5px 0px 3px 0px;
    }
    .ulHead{
        width: 100px;
    }
    .loginBoton{
        border-right: none;
        margin: 0px;
        padding: 5px 0px 3px 0px;
    }
    .divisorList{
        color: black;
    }
    .divisorList hr{
        display: inherit;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    .dropdownHead{
        border: none;
        padding: 0px;
        border-bottom: solid rgba(0, 0, 0, 0.25) 1px;
        border-radius: 0%;
        padding-bottom: 2px;
        margin-top: 0px;
        width: 130px;
    }
    /* ----- PRODUCTOs ----- */
    .productitulo{
        display: none;
    }
} 

@media screen and (max-width:950px){
    /* ---- REGISTRO ---- */
    .registro{
        grid-auto-rows: auto auto auto;
        grid-template-columns: 0.5fr 0.6fr 0.3fr;
        gap: 20px;
        grid-template-areas:
        "datos usuario usuario"
        "datos2 envio envio"
        "pref pref registrate" 
    }
    .usuario{
        justify-content: center;
    }
    .envio form{
        justify-content: center;
    }
    .pref{
        flex-direction: initial;
        padding-top: 20px;
        justify-content: flex-start;
    }
    .yesornot{
        width: 200px;
        margin-left: 50px;
    }
    .checkContainePref{
        width: 200px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .botonRegistro{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:900px){
    /* ----Hero---- */
    .hero{
        width: 95%;
    }
    .hero h1{
        font-size: 33px;
        padding: 20px;
        margin-top: 35px;
    }
    .hero h2{
        font-size: 20px;
        padding: 5px 10px;
    }
    .bienvenido{
        padding: 0px 45px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width:250px ;
        height: 400px;
    }
    /* ----TITULOS---- */
    .tituloPixel{
        font-size: 41px;
    }
}

@media screen and (max-width:825px) {
    /*----HEADER----*/
    .logo a img{
        width: 100px;
        height: 100px;
    }
    .logo a{
    font-size: 40px;
    }
    /* ----Hero---- */
    .hero{
        height: 81vh;
    }
    /* ----TITULOS---- */
    .tituloPixel{
        font-size: 39px;
    }
    .novedadesTitulo h2{
        font-size: 32px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width: 230px ;
        height: 350px;
        margin: 20px 5px;
    }
    .categoriasFichas div h3{
        font-size: 38px;
    }
    /* ---- FICHAS PRODUCTOS---- */
    .fichas div{
        height: 300px;
        width: 220px;
    }
    .fichas img{
        height: 200px;
        width: 100%;
        padding: 10px;
        padding-bottom: 5px;
    }
    /*----CONTACTO----*/
    .contacto{
        flex-direction: column;
        align-items: center;
    }
    .titulo h1{
        font-size: 35px;
    }
    /* ---- REGISTRO ---- */
    .registro{
        grid-template-columns: auto auto;
        row-gap: 40px;
        padding: 30px 0px;
        grid-template-areas:
        "datos datos"
        "usuario usuario"
        "envio envio"
        "pref pref"
        "datos2 registrate" 
    }
    .datosPer input{
        width: 300px;
    }
    .datosPer h3{
        margin-bottom: 30px;
    }
    .usuario input{
        width: 250px;
    }
    .pref{
        padding-top: 0px;
    }
    .gen{
        margin-top: 0px;
    }
    .botonRegistro{
        justify-content: center;
    }
    /* ----FOOTER---- */
    .textoLogo{
        font-size: 15px;
    }
    .footerLogo{
        width: 40%;
    }
    .textoLogo a{
        font-size: 25px;
        margin-top: 30px;
    }
    .textoLogo a:hover{
        font-size: 20px;
    }
    .redesSection div a{
        font-size: 16px;
    }
    .redesSection{
        width: 40%;
    }
    .redesSection h3{
        font-size: 20px;
    }
}

@media screen and (max-width:720px) {
    /* ----Hero---- */
    .hero{
        width: 98%;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width: 200px;
        height: 350px;
    }
    .categoriasFichas div h3{
        font-size: 35px;
        margin: 0px 0px 2px 8px;
    }
}

@media screen and (max-width:650px) {
    /*----HEADER----*/
    .logo a{
        font-size: 35px;
        }
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width:190px ;
        height: 350px;
    }
    .categoriasFichas div h3{
        font-size: 30px;
    }
    /* ---- TITULOS---- */
    .tituloPixel{
        font-size: 36px;
    }
    .novedadesTitulo h2{
        font-size: 30px;
    }
    /* ----FOOTER---- */
    footer{
        padding-top: 20px;
    }
    .footerLogo{
        width: 50%;
    }
    .footerLogo img{
        width: 130px;
        height: 130px;
    }
    .textoLogo{
        font-size: 14px;
        justify-content: flex-start;
    }
}

@media screen and (max-width:600px) {
    /*----HEADER----*/
    .logo a{
        font-size: 30px;
    }
    .logo a img{
        height: 80px;
        width: 80px;
        margin: 15px;
    }
    .navbarHead{
        margin-right: 10px;
    }
    .ulHead li a{
        font-size: 18px;
    }
    .hamburgerButton{
        opacity: 0.7;
    }
    /* ----HERO---- */
    .hero{
        height: 82.5vh;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width:170px ;
        height: 330px;
        margin: 20px 3px;
    }
    .categoriasFichas div h3{
        margin: 0px 0px 2px 5px;
    }
    /* ---- FICHAS PRODUCTOS---- */
    .fichas div{
        height: 280px;
        width: 200px;
        margin: 25px 15px;
    }
    .fichas img{
        height: 180px;
    }
    /* FOOTER */
    .redesSection{
        padding-right: 5px ;
    }
    /* ---- REGISTRO ---- */
    .registro{
        grid-template-columns: auto;
        padding: 30px 0px;
        grid-template-areas:
        "datos"
        "datos2"
        "usuario"
        "envio"
        "pref" 
        "registrate" 
    }
    .usuario form input{
        width: 160px;
    }
    .user{
        margin-right: 20px;
    }
    .datosPer input{
        width: 200px;
    }
    .datosPer h3{
        margin-left: 30px;
    }
    .datosPer2 select{
        width: 200px;
    }
    .gen p{
        margin-right: 10px;
    }
    .envio h4{
        text-align: center;
    }
    .envio form{
        flex-direction: column;
        align-items: center;
    }
    .envio form input{
        width: 250px;
    }
    .envio form select{
        width: 200px;
    }
    .enviodat1{
        margin-right: 0px;
    }
    .pref{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .yesornot{
        width: auto;
        margin-left: 0px;
    }
    .yesornot p{
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .checkPref{
        width: 250px;
        justify-content: space-evenly;
    }
    .checkContainePref{
        width: auto;
    }
}

@media screen and (max-width:550px) {
    /* ----Hero---- */
    .hero{
        height: 70vh;
    }
    .hero h1{
        font-size: 30px;
    }
    .hero h2{
        font-size: 17px;
    }
    /*----TITULOS----*/
    .titulo h1{
        font-size: 30px;
    }
    .titulo{
        padding: 25px 0px;
    }
    .novedadesTitulo h2{
        font-size: 28px;
    }
    .tituloPixel{
        font-size: 33px;
    }
    /* ----CONTACTO---- */
    .ubicacion h2{
        font-size: 28px;
    }
    .formulario div textarea{
        width: 350px;
        height: 200px;
    }
    .mapa {
        width: 350px;
        height: 300px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width:160px ;
        height: 330px;
    }
    .categoriasFichas div h3{
        font-size: 27px;
    }
    /* ---- REGISTRO ---- */
    .regisText{
        font-size: 12px;
        padding-top: 30px;
    }
    /* ----FOOTER---- */
    footer{
        flex-direction: column;
    }
    .footerLogo{
        width: 100vw;
    }
    .redesSection{
        padding-right: 7px;
        padding-left: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
    }
    .textoLogo a{
        font-size: 22px;
    }
    .textoLogo a:hover{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
    }
    .footerLogo img{
        width: 120px;
        height: 120px;
    }
    .redes{
        justify-content: flex-end;
    }
    .redesSection h3{
        text-align: center;
    }
    .redesSection p{
        text-align: right;
    }
    .redesText{
        margin-right: 50px;
    }
    .redesImg{
        margin-left: 50px;
    }
}
@media screen and (max-width:510px){
    /* ----HEADER---- */
    .logo a{
        font-size: 26px;
        text-shadow: 1px 1px black;
    }
    .logo a img{
        height: 60px;
        width: 60px;
    }
    .containNavlist{
        margin-left: 15px;
        max-width: 130px;
    }
    .ulHead li a{
        font-size: 16px;
    }
    .loginBoton {
        font-size: 18px;
    }
    /* ----Hero---- */
    .hero{
        border-top: 0px;
        border-bottom: 5px solid black;
    }
    .hero h1{
        padding: 18px;
    }
    .bienvenido{
        padding: 0px 35px;
    }
    .hero h2 {
        font-size: 16px;
    }
    /*----TITULO----*/
    .titulo h1{
        font-size: 28px;
    }
    .titulo{
        padding: 20px 0px;
    }
    .novedadesTitulo h2{
        font-size: 27px;
    }
    /*----CONTACTO----*/
    .ubicacion h2{
        font-size: 25px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width:145px ;
    }
    .categoriasFichas div h3{
        font-size: 25px;
    }
    .categoriasFichas div a img{
        border-radius: 0%;
    }
    /* ---- FICHAS PRODUCTOS---- */
    .fichas {
        padding: 20px 0px;
    }
    .fichas div{
        height: 260px;
        width: 180px;
        box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
    }
    .fichas img{
        height: 160px;
    }
    .fichas div h2{
        font-size: 14px;
    }
    /* ----FOOTER---- */
    .redesSection h3{
        text-align: start;
        margin-left: 50px;
    }
    .footerLogo{
        padding-right: 30px;
    }
}

@media screen and (max-width:464px){
    /* ----CATEGORIAS FICHAS---- */
    .categoriasFichas div{
        width: 130px ;
    }
    .categoriasFichas div h3{
        font-size: 23px;
        margin: 0px 0px 2px 2px;
    }
}

@media screen and (max-width:420px){
    /* ----HEADER---- */
    .logo a{
        font-size: 24px;
    }
    .logo a img{
        height: 55px;
        width: 55px;
    }
    .containNavlist{
        margin-left: 10px;
    }
    /* ----Hero---- */
    .hero h1{
        font-size: 27px;
        padding: 18px;
    }
    .bienvenido{
        padding: 0px 25px;
    }
    .hero h2{
        font-size: 15px;
    }
    /*----CONTACTO----*/
    .formulario div textarea{
        width: 300px;
        height: 200px;
    }
    .mapa {
        width: 300px;
        height: 250px;
    }
    .contacto h3{
        margin-bottom: 35px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .novedadesTitulo h2{
        font-size: 26px;
    }
    .categoriasFichas div{
        width: 110px ;
        height: 320px;
    }
    .categoriasFichas div h3{
        font-size: 20px;
    }
    .categorias h2{
        padding-left: 10px;
    }
    /* ----TITULOS---- */
    .tituloPixel{
        font-size: 29px;
    }
    /* ---- FICHAS PRODUCTOS---- */
    .fichas div{
        width: 160px;
        height: 240px;
        margin: 20px 10px;
        box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
    }
    .fichas img{
        height: 155px;
        padding-bottom: 0px;
    }
    .fichas div h2{
        font-size: 13px;
        margin-bottom: 17px;
    }
    .fichas div a{
        padding: 6px 7px;
    }
    /* ----FOOTER---- */
    .textoLogo h2{
        font-size: 18px;
    }
    .textoLogo a{
        font-size: 19px;
    }
    .textoLogo a:hover{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
    }
    .redesSection h3{
        margin-left: 15px;
    }
    /* ---- REGISTRO ---- */
    .datosPer input{
        width: 180px;
    }
    .pais select{
        width: 180px;
    }
    .usuario form input{
        width: 130px;
    }
    .envio form input{
        width: 180px;
    }
    .envio form select{
        width: 180px;
    }
    .user{
        margin-right: 10px;
    }
}