@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');
@import url('https://fonts.cdnfonts.com/css/silkscreen-2');

*{
    margin: 0;             
    padding: 0;            
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    p{
        margin: 0px;
    }
}

//TITULOS---------

.titulo{
    font-style: italic;
    background-color: $color-sec;
    padding-top: 30px;
    padding-bottom: 30px;
    h1{
        text-align: center;
        font-size: 40px;
        color: nth($color-letras,1);
    }
}
.productitulo{
    background-color: $color-sec;
    text-align: center;
    padding: 20px;
    margin: 0px;
    h1{
        font-size: 50px;
        font-weight: bold;
        font-style: italic;
        color: nth($color-letras,1);
        font-family: 'TheGoodMonolith', sans-serif;
    }
}
.subTitulo{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 5px;
    background-color: $color-sec;
    h2{
        color: nth($color-letras,1);
        font-style: italic;
    }
}
.miniTitulo{
    color: nth($color-letras,3);
    font-family: 'TheGoodMonolith', sans-serif;
    width: 95%;
    padding-left: 5px;
    border-bottom: 5px solid nth($color-transparente,1);
    h3{
        font-size: 25px;
    }
}

//FICHAS----------

.containFichas{
    @extend %fichas-container;
    padding: 20px;
    .fichas{
        @include display(flex,space-between,center);
        flex-direction: column;
        height: 350px;
        width: 250px;
        margin: 30px;
        border: 2px solid $fichas-border;
        border-radius: 15px;
        box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
        h2{
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: nth($color-letras,3);
            padding-left: 10px;
            padding-right: 10px;
            margin: 0px;
        }
        a{
            text-decoration: none;
            background-color: $color-prin;
            color: nth($color-letras,1);
            padding: 10px;
            font-size: 15px ;
            transition: 0.3s;
            margin-bottom: 10px;
            &:hover{
                border-radius: 10px;
                background-color:$buy-hover;
            }
        }
        img{
            height: 250px;
            width: 200px;
            padding-top: 10px;
            padding-bottom: 10px;
            object-fit: contain;
        }
    }
}

.containFichas2{
    @extend %fichas-container;
    padding: 20px 0px;
    .fichas2{
        @include display(flex,space-between,center);
        flex-direction: column;
        height: 300px;
        width: 220px;
        margin: 30px 20px;
        border: 2px solid $fichas-border;
        border-radius: 15px;
        box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 15px 15px 17px 1px rgba(0,0,0,0.32);
        h2{
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: nth($color-letras,3);
            padding-left: 10px;
            padding-right: 10px;
            margin: 0px;
        }
        img{
            height: 200px;
            width: 100%;
            padding: 10px;
            padding-bottom: 5px;
            object-fit: contain;
        }
        a{
            text-decoration: none;
            background-color: $color-prin;
            color: nth($color-letras,1);
            padding: 10px;
            margin-bottom: 8px;
            font-size: 15px ;
            transition: 0.3s;
            &:hover{
                border-radius: 10px;
                background-color:$buy-hover;
            }
        }
    }
}
// ------- IR ARRIBA---------

.goHead{
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    right: 2px;
    opacity: 0.5;
    &:hover{
        opacity: 0.8;
    }
    a{
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// ----------- CARRUSEL

.carrusel{
    background-color: $color-sec;
    padding: 8px 8px 0px 8px;
    text-shadow: 3px 3px black;
    h5{
        font-size: 30px;
        font-weight: bolder;
        font-family: 'TheGoodMonolith', sans-serif;
    }
    p{
        font-size: 25px;
        font-weight: bolder;
        font-family: 'TheGoodMonolith', sans-serif;
    }
    img{
        height: 330px;
        object-fit: cover;
        opacity: 0.9;
        align-self: center;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.15);
    }
    .carruselBoton{
        opacity: 0.7;
        transition: 0.2s;
        width: 5%;
        &:hover{
            opacity: 1;
        }
    }
}