/* -------------------------------RESPONSIVE----------------------------------- */

@media screen and (max-width:1480px){
    /* PRODUCTOS  */
    .accordion-button{
        padding: 16px 10px;
    }
    .accordion-button::after{
        margin-left: 15px;
    }
    .accordion-body{
        padding: 0px;
    }
    .accordion-body ul{
        padding-top: 10px;
    }
}

@media screen and (max-width:1250px){
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width:300px ;
        height: 450px;
        margin: 20px 10px;
    }
    /* ---- REGISTRO ---- */
    .registMain .registro{
        padding: 20px 0px;
        gap: 15px;
    }
    /* ---- CARRUSEL ---- */
    .carrusel img{
        height: 250px;
    }
    .carrusel h5{
        font-size: 25px;
    }
    .carrusel p{
        font-size: 20px;
    }
}

@media screen and (max-width:1150px){
    /* ----Hero---- */
    .containHero .hero{
        width: 90%;
    }
    .containHero .hero h1{
        font-size: 37px;
    }
    .containHero .hero h2{
        font-size: 22px;
        margin-bottom: 30px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categorias .tituloPixel{
        font-size: 43px;
    }
    .categorias .categoriasFichas div{
        width:280px ;
        height: 400px;
        margin: 20px 8px;
        opacity: 1;
    }
    .categorias .categoriasFichas div h3{
        font-size: 40px;
    }
    /* ---- REGISTRO ---- */
    .registMain .registro{
        margin: 30px;
        grid-auto-rows: auto auto auto;
        column-gap: 30px;
    }
    .pref .yesornot input{
        margin-right: 5px;
    }
    .pref .yesornot label{
        margin-right: 5px;
    }
    .botonRegistro button{
        padding: 8px;
    }
    .pref div h4{
        margin-bottom: 20px;
    }
    /* ----FOOTER--- */
    footer{
        padding-bottom: 25px;
    }
    footer .footerLogo{
        align-items: center;
    }
    footer .footerLogo .textoLogo h2{
        font-size: 27px;
    }
    footer .footerLogo .textoLogo a{
        font-size: 22px;
    }
    footer .footerLogo img{
        width: 140px;
        height: 140px;
    }
    .footerLogo{
        width: 50%;
    }
    footer .redesSection{
        padding-right: 10px ;
    }
}

@media screen and (max-width:1025px){
    /* ---- FICHAS/PRODUCTOS ---- */
    .accordion-button{
        font-size: 15px;
    }
    .productContainer .accordionAtributos .accordion-body ul li a{
        font-size: 14px;
    }
    .productContainer .accordionAtributos{
        padding-right: 20px;
    }
    .containFichas2 .fichas2{
        height: 260px;
        width: 180px;
        margin: 25px 15px;
        box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
    }
    .containFichas2 .fichas2 img{
        height: 180px;
        height: 160px;
    }
    .containFichas2 .fichas2 a{
        padding: 8px;
    }
    .containFichas2 .fichas2 h2{
        font-size: 14px;
        padding-top: 5px;
    }
}

@media screen and (max-width:991px){
    /* ---- HEADER ---- */
    header .logo a img{
        width: 100px;
        height: 100px;
    }
    header .logo a{
    font-size: 40px;
    }
    header div .navbarHead{
    background-color: rgba(65, 105, 225, 0.1);
    }
    .hamburgerButton img{
        width: 30px;
        height: 30px;
    }
    .hamburgerButton{
        margin: 5px 0px;
        opacity: 0.8;
    }
    .ulHead li a{
        margin: 0px;
        padding: 5px 0px 3px 0px;
    }
    .ulHead{
        width: 100px;
    }
    header div .navbarHead .containNavlist div .ulHead .loginList .loginBoton{
        border-right: none;
        margin: 0px;
        padding: 5px 0px 3px 0px;
    }
    header div .navbarHead .containNavlist div .ulHead .divisorList{
        color: black;
    }
    header div .navbarHead .containNavlist div .ulHead .divisorList hr{
        display: inherit;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    .dropdownReal{
        display: none;
    }
    header div .navbarHead .containNavlist div .ulHead .dropdownFalso{
        display: initial;
    }
    .dropdownFalso p{
        color: nth($color-letras,1);
        font-family: 'TheGoodMonolith', sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px black;
        padding: 5px 0px 3px 0px;
    }
    .dropdownFalso ul{
        padding-left: 10px;
    }
    .dropdownFalso ul li{
        list-style: none;
    }
    /* ----- TITULOS ----- */
    .productitulo{
        display: none;
    }
    /* ----- PRODUCTOS ------ */
    .accordion-item:last-of-type .accordion-button.collapsed{
        width: 163.71px;
    }
} 

@media screen and (max-width:950px){
    /* ---- REGISTRO ---- */
    .registMain .registro{
        grid-auto-rows: auto auto auto;
        grid-template-columns: 0.5fr 0.6fr 0.3fr;
        gap: 20px;
        grid-template-areas:
        "datos usuario usuario"
        "datos2 envio envio"
        "pref pref registrate" 
    }
    .usuario{
        justify-content: center;
    }
    .envio form{
        justify-content: center;
    }
    .pref{
        flex-direction: initial;
        padding-top: 20px;
        justify-content: flex-start;
    }
    .pref .yesornot{
        width: 200px;
        margin-left: 50px;
    }
    .checkContainePref{
        width: 200px;
        margin: 0px 50px;
    }
    .botonRegistro{
        display: flex;
        align-items: center;
    }
    /* ---- CARRUSEL ---- */
    .carrusel{
        text-shadow: 2px 2px black;
    }
    .carrusel img{
        height: 200px;
    }
    .carrusel h5{
        font-size: 20px;
    }
    .carrusel p{
        font-size: 17px;
    }
}

@media screen and (max-width:900px){
    /* ----Hero---- */
    .containHero .hero{
        width: 95%;
    }
    .containHero .hero h1{
        font-size: 33px;
        padding: 20px;
        margin-top: 35px;
    }
    .containHero .hero h2{
        font-size: 20px;
        padding: 5px 10px;
    }
    .bienvenido{
        padding: 0px 45px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width:250px ;
        height: 400px;
    }
    /* ----TITULOS---- */
    .categorias .tituloPixel{
        font-size: 41px;
    }
}

@media screen and (max-width:825px) {
    /*----HEADER----*/
    header .logo a{
        font-size: 35px;
        }
    /* ----Hero---- */
    .containHero .hero{
        height: 81vh;
    }
    /* ----TITULOS---- */
    .categorias .tituloPixel{
        font-size: 39px;
    }
    .novedades .novedadesTitulo h2{
        font-size: 32px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width: 230px ;
        height: 350px;
        margin: 20px 5px;
    }
    .categorias .categoriasFichas div h3{
        font-size: 38px;
    }
    /* ---- FICHAS---- */
    .containFichas .fichas{
        height: 300px;
        width: 220px;
    }
    .containFichas .fichas img{
        height: 200px;
        width: 100%;
        padding: 10px;
        padding-bottom: 5px;
    }
    .containFichas .fichas a{
        margin-bottom: 8px;
    }
    .containFichas2 .fichas2{
        width: 160px;
        height: 240px;
        margin: 20px 10px;
        box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
    }
    .containFichas2 .fichas2 img{
        height: 155px;
        padding-bottom: 0px;
    }
    .containFichas2 .fichas2 h2{
        font-size: 13px;
        padding-top: 3px;
    }
    .containFichas2 .fichas2 a{
        padding: 6px 7px;
        margin-bottom: 6px;
    }
    /*----CONTACTO----*/
    .contacto{
        flex-direction: column;
        align-items: center;
    }
    .titulo h1{
        font-size: 35px;
    }
    /* ---- REGISTRO ---- */
    .registMain .registro{
        grid-template-columns: auto auto;
        row-gap: 40px;
        padding: 30px 0px;
        grid-template-areas:
        "datos datos"
        "usuario usuario"
        "envio envio"
        "pref pref"
        "datos2 registrate" 
    }
    .datosPer form div input{
        width: 300px;
    }
    .datosPer h3{
        margin-bottom: 30px;
    }
    .usuario form div input{
        width: 250px;
    }
    .pref{
        padding-top: 0px;
    }
    .datosPer2 form .gen{
        margin-top: 0px;
    }
    .botonRegistro{
        justify-content: center;
    }
    /* ----FOOTER---- */
    footer{
        padding-bottom: 10px;
    }
    footer .footerLogo .textoLogo h2{
        font-size: 22.5px;
    }
    footer .footerLogo{
        width: 40%;
        align-items: normal;
    }
    footer .footerLogo .textoLogo a{
        font-size: 20px;
        margin-top: 30px;
    }
    footer .redesSection div a{
        font-size: 16px;
    }
    footer .redesSection{
        width: 40%;
    }
    footer .redesSection h3{
        font-size: 20px;
    }
}
@media screen and (max-width:767px){
    /* ---- CARRUSEL ---- */
    .carousel-item .d-none{
        display: initial !important;
    }
    .carrusel h5{
        font-size: 18px;
    }
    .carrusel p{
        font-size: 15px;
    }
    .carrusel .carruselBoton{
        width: 10%;
    }
}

@media screen and (max-width:725px) {
    /* ----Hero---- */
    .containHero .hero{
        width: 98%;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width: 200px;
        height: 350px;
    }
    .categorias .categoriasFichas div h3{
        font-size: 35px;
        margin: 0px 0px 2px 8px;
    }
}

@media screen and (max-width:650px) {
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width:190px ;
        height: 350px;
    }
    .categorias .categoriasFichas div a img{
        border: none;
    }
    .categorias .categoriasFichas div h3{
        font-size: 30px;
    }
    /* ---- PRODUCTOS ---- */
    .miniTitulo h3{
        font-size: 21px;
        margin-left: 5px;
    }
    .productContainer{
        flex-direction: column;
    }
    .navProducts{
        margin-bottom: 10px;
        top:2px
    }
    .productContainer .accordionAtributos{
        width: 100%;
        height: 70px;
        padding: 20px 50px;
        padding-top: 10px;
        margin: 0px;
        top: 52px;
    }
    .accordion-item:last-of-type .accordion-button.collapsed{
        width: 100%;
    }
    .accordion-button{
        padding: 7px;
        padding-left: 15px;
    }
    .acordion1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "acord1 acord2";
        grid-area: acord1;
    }
    .acordion2{
        grid-area: acord2;
    }
    .accordion-button::after{
        margin: auto;
    }
    .accordion-item{
        border: none;
        background-color: transparent;
    }
    .accordion-body ul{
        background-color:$color-prin;
        padding: 5px 0px 5px 35px ;
        margin: 0px;
    }
    .productContainer .accordionAtributos .accordion-body ul li a{
        color: nth($color-letras,1);
        text-decoration: none;
        text-shadow: 1px 1px black;
    }
    .productContainer .accordionAtributos .accordion-body ul li a:hover{
        color: nth($color-letras,3);
    }
    /* ---- TITULOS---- */
    .categorias .tituloPixel{
        font-size: 36px;
    }
    .novedades .novedadesTitulo h2{
        font-size: 30px;
    }
    /* ----FOOTER---- */
    footer{
        padding-top: 20px;
    }
    footer .footerLogo{
        width: 50%;
        align-items: center;
    }
    footer .footerLogo img{
        width: 130px;
        height: 130px;
    }
    footer .footerLogo .textoLogo h2{
        font-size: 21px;
        justify-content: flex-start;
    }
    footer .footerLogo .textoLogo a{
        font-size: 18px;
    }
    footer .footerLogo .textoLogo a:hover{
        text-shadow: none;
    }
}

@media screen and (max-width:605px) {
    /*----HEADER----*/
    header .logo a{
        font-size: 30px;
    }
    header .logo a img{
        height: 80px;
        width: 80px;
        margin: 15px;
    }
    header div .navbarHead{
        margin-right: 10px;
    }
    header div .navbarHead .containNavlist div .ulHead li a{
        font-size: 18px;
    }
    .dropdownFalso p{
        font-size: 19px;
    }
    .hamburgerButton{
        opacity: 0.7;
    }
    header div .navbarHead .containNavlist div .ulHead .loginList div .modal-content .modal-header h5{
        font-size: 23px;
    }
    /* ----HERO---- */
    .containHero .hero{
        height: 82.5vh;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width:170px ;
        height: 330px;
        margin: 20px 3px;
    }
    .categorias .categoriasFichas div h3{
        margin: 0px 0px 2px 5px;
    }
    /* ---- FICHAS ---- */
    .containFichas .fichas{
        height: 280px;
        width: 200px;
        margin: 25px 15px;
    }
    .containFichas .fichas img{
        height: 180px;
    }
    .containFichas .fichas a{
        padding: 8px;
    }
    /* FOOTER */
    footer .redesSection{
        padding-right: 5px ;
    }
    /* ---- REGISTRO ---- */
    .registMain .registro{
        grid-template-columns: auto;
        padding: 30px 0px;
        grid-template-areas:
        "datos"
        "datos2"
        "usuario"
        "envio"
        "pref" 
        "registrate" 
    }
    .usuario form div input{
        width: 160px;
    }
    .usuario form .user{
        margin-right: 20px;
    }
    .datosPer form div input{
        width: 200px;
    }
    .datosPer h3{
        margin-left: 30px;
    }
    .datosPer2 form .pais select{
        width: 200px;
    }
    .datosPer2 form .gen p{
        margin-right: 10px;
    }
    .envio h4{
        text-align: center;
    }
    .envio form{
        flex-direction: column;
        align-items: center;
    }
    .envio form div input{
        width: 250px;
    }
    .envio form .enviodat1 select{
        width: 200px;
    }
    .envio form .enviodat1{
        margin-right: 0px;
    }
    .pref{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pref .yesornot{
        width: auto;
        margin-left: 0px;
    }
    .pref .yesornot p{
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .pref div .checkPref{
        width: 250px;
        justify-content: space-evenly;
    }
    .checkContainePref{
        width: auto;
    }
    /* ---- CARRUSEL ---- */
    .carrusel img{
        height: 180px;
    }
    .carousel-item .d-none{
        display: none !important;
    }
    .carousel-indicators{
        margin-bottom: 3px;
    }
}

@media screen and (max-width:555px) {
    /* ----Hero---- */
    .containHero .hero{
        height: 70vh;
    }
    .containHero .hero h1{
        font-size: 30px;
    }
    .containHero .hero h2{
        font-size: 17px;
    }
    /*----TITULOS----*/
    .titulo h1{
        font-size: 30px;
    }
    .titulo{
        padding: 25px 0px;
    }
    .novedades .novedadesTitulo h2{
        font-size: 28px;
    }
    .categorias .tituloPixel{
        font-size: 33px;
    }
    /* ----CONTACTO---- */
    .ubicacion h2{
        font-size: 28px;
    }
    .formulario div textarea{
        width: 350px;
        height: 200px;
    }
    .ubicacion div .mapa {
        width: 350px;
        height: 300px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width:160px ;
        height: 330px;
    }
    .categorias .categoriasFichas div h3{
        font-size: 27px;
    }
    /* ---- PRODUCTOS ----  */
    .accordion-button{
        font-size: 14px;
    }
    .productContainer .accordionAtributos .accordion-body ul li a{
        font-size: 13px;
    }
    .productContainer .stickyJuegos{
        top: 87px;
    }
    /* ---- REGISTRO ---- */
    .registMain .regisText{
        font-size: 12px;
        padding-top: 30px;
    }
    /* ----FOOTER---- */
    footer{
        flex-direction: column;
        padding-bottom: 30px;
    }
    footer .footerLogo{
        width: 100vw;
        align-items: normal;
    }
    footer .footerLogo img{
        width: 120px;
        height: 120px;
    }
    footer .redesSection{
        padding-right: 10px;
        padding-left: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
    }
    footer .redesSection .redes{
        justify-content: flex-end;
    }
    footer .redesSection h3{
        text-align: center;
    }
    footer .redesSection p{
        text-align: right;
    }
    .redesText{
        margin-right: 50px;
    }
    .redesImg{
        margin-left: 50px;
    }
}

@media screen and (max-width:510px){
    /* ----HEADER---- */
    header .logo a{
        font-size: 26px;
    }
    header .logo a img{
        height: 60px;
        width: 60px;
    }
    .containNavlist{
        margin-left: 15px;
        max-width: 140px;
    }
    header div .navbarHead .containNavlist div .ulHead li a{
        font-size: 16px;
    }
    .dropdownFalso p{
        font-size: 17px;
    }
    header div .navbarHead .containNavlist div .ulHead .loginList .loginBoton {
        font-size: 18px;
    }
    .dropdownFalso ul{
        padding-left: 8px;
    }
    /* ----Hero---- */
    .containHero .hero{
        border-top: 0px;
        border-bottom: 5px solid black;
    }
    .containHero .hero h1{
        padding: 18px;
    }
    .containHero .hero h2 {
        font-size: 16px;
    }
    .bienvenido{
        padding: 0px 35px;
    }
    /*----TITULO----*/
    .titulo h1{
        font-size: 28px;
    }
    .titulo{
        padding: 20px 0px;
    }
    .novedades .novedadesTitulo h2{
        font-size: 27px;
    }
    /*----CONTACTO----*/
    .ubicacion h2{
        font-size: 25px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width:145px ;
    }
    .categorias .categoriasFichas div h3{
        font-size: 25px;
    }
    .categorias .categoriasFichas div a img{
        border-radius: 0%;
    }
    .containFichas {
        padding: 20px 0px;
    }
    .containFichas .fichas{
        height: 260px;
        width: 180px;
        box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 10px 10px 17px 1px rgba(0,0,0,0.32);
    }
    .containFichas .fichas img{
        height: 160px;
    }
    .containFichas .fichas h2{
        font-size: 14px;
        padding-top: 5px;
    }
    /* ---- PRODUCTOS---- */
    .navProducts nav{
        padding: 3px 0px 5px 0px;
    }
    .productContainer .stickyFiguras{
        top: 44px;
    }
    .productContainer .stickyJuegos{
        top: 79px;
    }
    /* ---- CARRUSEL ---- */
    .carrusel{
        padding: 5px 5px 0px 5px;
    }
    /* ----FOOTER---- */
    footer .redesSection h3{
        text-align: start;
        margin-left: 50px;
    }
    footer .footerLogo{
        padding-right: 30px;
    }
}

@media screen and (max-width:464px){
    /* ----CATEGORIAS FICHAS---- */
    .categorias .categoriasFichas div{
        width: 130px ;
    }
    .categorias .categoriasFichas div h3{
        font-size: 23px;
        margin: 0px 0px 2px 2px;
    }
}

@media screen and (max-width:462px){
    /* ---- PRODUCTOS ---- */
    .navProducts{
        margin-bottom: 0px;
    }
    .accordion-button{
        margin: 0px;
        padding: 2px;
        padding-left: 10px;
        width: 100%;
    }
    .productContainer .accordionAtributos .accordion-body ul li a{
        font-size: 12px;
    }
    .productContainer .accordionAtributos{
        padding: 10px 40px;
        height: 50px;
    }
    .productContainer .stickyFiguras{
        top: 81px;
    }
    .productContainer .stickyJuegos{
        top: 81px;
    }
}
@media screen and (max-width:420px){
    /* ----HEADER---- */
    header .logo a{
        font-size: 24px;
        text-shadow: 1px 1px black;
    }
    header .logo a img{
        height: 55px;
        width: 55px;
    }
    /* ----Hero---- */
    .containHero .hero h1{
        font-size: 27px;
        padding: 18px;
    }
    .containHero .hero h2{
        font-size: 15px;
    }
    .bienvenido{
        padding: 0px 25px;
    }
    /*----CONTACTO----*/
    .formulario div textarea{
        width: 300px;
        height: 200px;
    }
    .ubicacion div .mapa {
        width: 300px;
        height: 250px;
    }
    .contacto div h3{
        margin-bottom: 35px;
    }
    /* ----CATEGORIAS FICHAS---- */
    .novedades .novedadesTitulo h2{
        font-size: 26px;
    }
    .categorias .categoriasFichas div{
        width: 110px ;
        height: 320px;
    }
    .categorias .categoriasFichas div h3{
        font-size: 20px;
    }
    /* ----TITULOS---- */
    .categorias .tituloPixel{
        font-size: 29px;
        padding-left: 10px;
    }
    /* ---- FICHAS ---- */
    .containFichas .fichas{
        width: 160px;
        height: 240px;
        margin: 20px 10px;
        box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
        -webkit-box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
        -moz-box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.32);
    }
    .containFichas .fichas img{
        height: 155px;
        padding-bottom: 0px;
    }
    .containFichas .fichas h2{
        font-size: 13px;
        padding-top: 3px;
    }
    .containFichas .fichas a{
        padding: 6px 7px;
        margin-bottom: 6px;
    }
    /* ---- REGISTRO ---- */
    .datosPer form div input{
        width: 180px;
    }
    .datosPer2 form .pais select{
        width: 180px;
    }
    .usuario form div input{
        width: 130px;
    }
    .envio form div input{
        width: 180px;
    }
    .envio form .enviodat1 select{
        width: 180px;
    }
    .usuario form .user{
        margin-right: 10px;
    }
    /* ---- CARRUSEL ---- */
    .carrusel img{
        height: 160px;
    }
    .carrusel .carruselBoton{
        width: 15%;
    }
    /* ----FOOTER---- */
    footer .footerLogo .textoLogo h2{
        font-size: 18px;
    }
    .redesSection h3{
        margin-left: 15px;
    }
}