/*--------- VARIABLES -------*/

$color-prin: royalblue;
$color-sec: black;
$fichas-border:rgba(0, 0, 0, 0.7);
$buy-hover:rgb(65, 60, 225);

//list

$color-transparente:
rgba(0, 0, 0, 0.85),
rgba(65, 105, 225, 0.9),
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.541);

$color-letras:
whitesmoke,
white,
black;

//extend

%fichas-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap;
}

// mixins

@mixin display($disp,$justify,$align){
    display: $disp;
    justify-content: $justify ;
    align-items: $align ;
}